USE [QL_HocSinh]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 12/6/2018 9:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEM](
	[MADIEM] [nchar](10) NOT NULL,
	[MAKETQUA] [nchar](10) NULL,
	[MAMON] [nchar](10) NOT NULL,
	[MAHOCKY] [varchar](10) NOT NULL,
	[DIEMTB] [float] NULL,
 CONSTRAINT [PK_DIEM] PRIMARY KEY CLUSTERED 
(
	[MADIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 12/6/2018 9:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGIAOVIEN] [nchar](10) NOT NULL,
	[MAMON] [nchar](10) NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[DIACHI] [nvarchar](300) NULL,
	[SODIENTHOAI] [varchar](30) NULL,
	[MATKHAU] [nchar](30) NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGIAOVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOCKY]    Script Date: 12/6/2018 9:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOCKY](
	[MAHOCKY] [varchar](10) NOT NULL,
	[TENHOCKY] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOCKY] PRIMARY KEY CLUSTERED 
(
	[MAHOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 12/6/2018 9:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[MAHOCSINH] [nchar](10) NOT NULL,
	[MALOP] [nchar](10) NOT NULL,
	[HOTEN] [varchar](100) NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [varchar](300) NULL,
 CONSTRAINT [PK_HOCSINH] PRIMARY KEY CLUSTERED 
(
	[MAHOCSINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KETQUAHOCTAP]    Script Date: 12/6/2018 9:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUAHOCTAP](
	[MAKETQUA] [nchar](10) NOT NULL,
	[MAHOCSINH] [nchar](10) NULL,
	[HKI] [float] NULL,
	[HKII] [float] NULL,
	[CANAM] [float] NULL,
	[HANHKIEMI] [nvarchar](50) NULL,
	[HANHKIEMII] [nvarchar](50) NULL,
	[HKCANAM] [nvarchar](50) NULL,
	[HOCLUCI] [nvarchar](50) NULL,
	[HOCLUCII] [nvarchar](50) NULL,
	[HLCANAM] [nvarchar](50) NULL,
 CONSTRAINT [PK_KETQUAHOCTAP] PRIMARY KEY CLUSTERED 
(
	[MAKETQUA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOI]    Script Date: 12/6/2018 9:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOI](
	[MAKHOI] [nchar](10) NOT NULL,
	[TENKHOI] [nvarchar](50) NULL,
	[SOLOPTOIDA] [int] NULL,
 CONSTRAINT [PK_KHOI] PRIMARY KEY CLUSTERED 
(
	[MAKHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP]    Script Date: 12/6/2018 9:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](10) NOT NULL,
	[MAKHOI] [nchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NULL,
	[SISO] [int] NULL,
	[MATKB] [nchar](10) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 12/6/2018 9:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMON] [nchar](10) NOT NULL,
	[TENMON] [nvarchar](50) NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 12/6/2018 9:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONG](
	[MAGIAOVIEN] [nchar](10) NOT NULL,
	[MALOP] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PHANCONG] PRIMARY KEY CLUSTERED 
(
	[MAGIAOVIEN] ASC,
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THOIKHOABIEU]    Script Date: 12/6/2018 9:24:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THOIKHOABIEU](
	[MATKB] [nchar](10) NOT NULL,
	[THU2] [nvarchar](50) NULL,
	[THU3] [nvarchar](50) NULL,
	[THU4] [nvarchar](50) NULL,
	[THU5] [nvarchar](50) NULL,
	[THU6] [nvarchar](50) NULL,
 CONSTRAINT [PK_THOIKHOABIEU] PRIMARY KEY CLUSTERED 
(
	[MATKB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_HOCKY] FOREIGN KEY([MAHOCKY])
REFERENCES [dbo].[HOCKY] ([MAHOCKY])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_HOCKY]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_KETQUAHOCTAP] FOREIGN KEY([MAKETQUA])
REFERENCES [dbo].[KETQUAHOCTAP] ([MAKETQUA])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_KETQUAHOCTAP]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_MONHOC] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MONHOC] ([MAMON])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_MONHOC]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_MONHOC] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MONHOC] ([MAMON])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GIAOVIEN_MONHOC]
GO
ALTER TABLE [dbo].[HOCSINH]  WITH CHECK ADD  CONSTRAINT [FK_HOCSINH_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[HOCSINH] CHECK CONSTRAINT [FK_HOCSINH_LOP]
GO
ALTER TABLE [dbo].[KETQUAHOCTAP]  WITH CHECK ADD  CONSTRAINT [FK_KETQUAHOCTAP_HOCSINH] FOREIGN KEY([MAHOCSINH])
REFERENCES [dbo].[HOCSINH] ([MAHOCSINH])
GO
ALTER TABLE [dbo].[KETQUAHOCTAP] CHECK CONSTRAINT [FK_KETQUAHOCTAP_HOCSINH]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOI] FOREIGN KEY([MAKHOI])
REFERENCES [dbo].[KHOI] ([MAKHOI])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOI]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_THOIKHOABIEU] FOREIGN KEY([MATKB])
REFERENCES [dbo].[THOIKHOABIEU] ([MATKB])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_THOIKHOABIEU]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_GIAOVIEN] FOREIGN KEY([MAGIAOVIEN])
REFERENCES [dbo].[GIAOVIEN] ([MAGIAOVIEN])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_GIAOVIEN]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_LOP]
GO
